@use 'fonts' as fts;
@use 'color' as clr;
/*Burger Button--------
############################*/
div.cl_hp_burger_button {
  appearance:none;
    overflow: hidden;
    height: 65px;
    width: 65px;
    background-color:clr.$clr_primaryColor;
    box-shadow: clr.$clr_shadow-box;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    right: 1.4rem;
    z-index: 99999;
    color: transparent;
    cursor: pointer;
    margin: 1rem 0 0 0 ;
  }
.cl_hp_burger_button .cl_svgBurger {
    color: transparent;
    stroke:#ffffff;
    transition: translate 500ms, rotate 500ms;
    padding: 10px 0 0 16px;
  }
  
  .cl_hp_burger_button[aria-expanded="true"] .cl_svgBurger {
    translate: 0px 1px;
    rotate: 0.125turn;
    padding: 6px 0 0 16px;
  }
  
  .cl_hp_burger_button .line {
    fill-opacity: 0;
    color: transparent;
    stroke:#ffffff;
    transition: 500ms;
  stroke-dasharray: 60 30 60 300;
  }
  
  .cl_hp_burger_button[aria-expanded="true"] .line {
    stroke-dasharray: 58 105 58 300;
    stroke-dashoffset: -90;
    padding: 0px 6px 0 0px;
    translate: 1px -1px;
  }
  .cl_btn-none{
  opacity: 1;
  }
  .cl_btn-active{
    transition: all 350ms ease-in-out;
    opacity: 1;
}
  /*############Ende###################*/