$primaryColor:#ad4c03;
$secondColor:#b3b3b3;
$textColorlight:#666666;
$textColorDark:#eeeeee;
$textcolorLightHover:#999999;
$textcolorLightHover:#bababa;
$backgrundColor:#000;
$backgroundSecondColor:#fff;
$hoverPrimaryColor:#ee8637;
$hoverSecondColor:#b3b3b3;
$shadow-box:0px 4px 9.8px rgba(0, 0, 0, 0.072),
0px 4px 14.5px rgba(0, 0, 0, 0.087),
0px 4px 80px rgba(0, 0, 0, 0.11);