@use 'fonts' as fts;
@use 'color' as clr;

/* Kontaktbox links Fixed*/

.cl_mailContact_hp {
    position: fixed;
    top: 66rem;
    z-index: 9999;
    width: 24rem;
    right:-18rem;
    transition: all 500ms ease-in-out;
    background-color: clr.$clr_backgrundPrimayColor;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding: 1rem 1.3rem;
    cursor: pointer;
    a{
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        img{ display: block;
        margin: 0 1rem 0 0;
        }
    }
}
.cl_phoneContact_hp {
    position: fixed;
    z-index: 9999;
    width: 24rem;
    top: 72.4rem;
    right:-18rem;
    transition: all 500ms ease-in-out;
    background-color: clr.$clr_backgrundPrimayColor;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding: 1rem 1.3rem;
    cursor: pointer;
}
.cl_mailContact_hp:hover,
.cl_phoneContact_hp:hover {
    transition: all 500ms ease-in-out;
    transform: translateX(-9rem);

}
.cl_mailContact_hp {
    a {
        img {
            padding: 2px 0 2px 4px;
            height: 4rem;
        }
    }
}

.cl_phoneContact_hp {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: -0.4rem 0 0 0;
    img {
        display: block;
        margin: 0 1rem 0 0;
        padding: 4px 0 0 2px;
        height:4rem;
        }
}

.cl_phoneActive_hp {
    display: block;
    position: relative;
    padding: 3rem 2rem 1rem 2rem;
    background-color: #fff;
    border: 0.4rem solid clr.$clr_backgrundPrimayColor;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: clr.$clr_primaryColorblue;
    cursor: pointer;
    width: fit-content;

    a {
        text-decoration: none;
        color: clr.$clr_primaryColorblue;
        font-size: 4.5rem;
        cursor: pointer;
    }

    .cl_kreuzClose_hp {
        font-size: 2rem;
        font-weight: 900;
        position: absolute;
        top: -2.5rem;
        right: -2.5rem;
        border: 4px solid clr.$clr_primaryColorblue;
        background-color: clr.$clr_backgroundSecondColor;
        color: clr.$clr_primaryColorblue;
        padding: 1rem 1.4rem 0.8rem 1.4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;

    }
}

.cl_blurbg_hp {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.501);
    filter: blur(1);
    position: fixed;
    -webkit-filter: blur(0.3);
    left: 0;
    top: 0;
    z-index: 99999;
}

.cl_active_hp {
    display: flex;
    font-size: 2.4rem;
    width: 100%;
    justify-content: center;
    align-items: center;

}
//#######---WhatsApp Button
.wa__stt_online {
	transition:all 500ms ease-in-out;
	position: fixed!important;
	will-change: transform;
	top: 780px;
	right:-237px;
	cursor:pointer;
}
.wa__stt_online:hover {
	transition:all 500ms ease-in-out!important;
	transform:translatex(-200px)!important;
}
//##############Ende
/*-------Media query----------
##############################*/

@media screen and (max-width:768px) {
    .cl_mailContact_hp {
        top: 42rem;
    }
    .cl_phoneContact_hp {
        top: 48rem;
    }
    .wa__stt_online {
        top: 53.5rem;
    }
}
@media screen and (max-width:530px) {
    .cl_mailContact_hp {
        top: 37rem;
    }
    .cl_phoneContact_hp {
        top: 43rem;
    }
    .wa__stt_online {
        top: 48.5rem;
    }
}
@media screen and (max-width:440px) {
    .cl_mailContact_hp {
        top: 30rem;
    }
    .cl_phoneContact_hp {
        top: 35.5rem;
    }
    .wa__stt_online {
        top: 41rem;
    }
}
