body {
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 300;
}

* {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

h1 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 5.9rem;
}

h2 {
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 5.4rem;
}
h3 {
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 4.2rem;
}
h4 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3.8rem;
}
h5 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3rem;
}
h6,p,li,a,span,button,input,label {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
}
p{
    line-height: 2.2rem;
    word-spacing: 0.1rem;
    letter-spacing: 0;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
.cl_subline{
    text-transform: uppercase;
    font-weight: 300;
}
.cl_h5Abstand{
    display: inline-block;
    margin: 2rem 0 1rem 0;
    font-weight: 300;
}
.cl_extrazeilenAbstand{
    line-height: 2.8rem;
}
.cl_ohneTrennung{
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
}
