@use 'fonts' as fts;
@use 'color' as clr;
/*------Header-----------
###############################*/
.cl_headerBGimageHome {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.cl_mobilNone {
  display: none;
}

.cl_logoText {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 24rem;
  height: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.cl_navBox02 {
  list-style: none;
  padding-inline-start: 0;

  li {
    a {
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      color: clr.$textColorDark;
      text-decoration: none;
      font-size: 2.4rem;
      text-transform: uppercase;

      &:hover {
        color: clr.$textcolorLightHover;
        transform: scale(0.8) translateY(-3px);
        -webkit-transform: scale(0.81) translateY(-3px);
        -moz-transform: scale(0.81) translateY(-3px);
        -ms-transform: scale(0.81) translateY(-3px);
        -o-transform: scale(0.81) translateY(-3px);
      }
    }
  }
}
.cl_menuareaSecondHome_hp{
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
}
.cl_bgHome{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cl_headline{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: clr.$textColorDark;
  h1{
    display: block;
    margin: -20rem 0 1rem 0;
  }
.cl_subline{
  text-transform: uppercase;
  font-size: 2.4rem;
}
}
/*##############Ende#################*/

/*----------- media Query -----------
######################################*/

@media screen and (max-width:666px) {
  .cl_headline{
    text-align: center;
    padding: 0 1rem;
  }
  
}
@media screen and (max-width:991px) {
  .cl_navBox02{
display: none;
  }
  .cl_mobilNone, .hp_burger_button_cl{
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 1.5rem;
    display: block;
  }
  
}