@use 'fonts' as fts;
@use 'color' as clr;

/*--------- Grid Box -----------
###################################*/
.cl_img_ueberwachung-wrapper_hp{
    display: block;
    padding: 2rem 3%;
    background-color: clr.$clr_backgrundlightColor;
    margin-bottom: 0;
    height: 65rem;
}
.cl_contentFlexbox_hp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*--------- Images Place -----------
###################################*/
.cl_img01_hp{
    width: 50%;
    max-width: 40rem;
    height: fit-content;
    object-fit: contain;
}
.imgPlace01{
    align-items: end;
}
.cl_imgBox_hp{
    position: relative;
    top: 14rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    gap: 2rem;
    overflow: hidden;
    position: absolute;
    top: 24rem;
    z-index:20;
    img{
        object-fit: cover;
        object-position: center;
    }
}
/*--------- Content Place -----------
###################################*/
.cl_content_img_hp{
    position: absolute;
    top: -50px;
    width: 50%;
    display: block;
    margin: 0rem 0 0 0rem;
    overflow: hidden;
    text-align: center;
    color: clr.$clr_textColorlight;
}

/*--------- Media Queries -----------
###################################*/
@media screen and (max-width:768px) {
    
/*--------- Images Place -----------
###################################*/
.cl_img01_hp{
    width:40%;
    max-width: 40rem;
    height: 40rem;
    object-fit: contain;
}
.imgPlace01{
    align-items: center;
}
.cl_imgBox_hp{
    display: flex;
    justify-content:center;
    // flex-direction: column;
    margin: 0 0 0 0;
}
/*--------- Content Place -----------
###################################*/
.cl_content_img_hp{
    display: block;
    margin: 3rem auto;
    text-align: center;
    width: 100%;
}
.cl_underline-left_hp{
    margin: 0 auto 1.2rem auto;
}
}
@media screen and (max-width:489px) {
    .cl_img_ueberwachung-wrapper_hp{
        margin-bottom:26rem;
    }
    .cl_imgBox_hp{
        flex-direction: column;
        margin: 0 0 0 0;
    }
    .cl_img01_hp{
        width:100%;
        height: 38rem;
        object-fit: contain;
    }
}