/*--------- Grid Box -----------
###################################*/
.cl_img_ueberwachung-wrapper_hp{
    display: block;
    padding: 2rem 3%;
}
.cl_contentGridbox_hp{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 48% 48%;
    grid-template-rows: max-content max-content;
    grid-template-areas:
    "contentWach images01"
    "contentWach images01"
    ;
}
.cl_content_img_hp{grid-area:contentWach;}
.cl_imgBox_hp{grid-area: images01;}

/*--------- Images Place -----------
###################################*/
.cl_img01_hp{
    width: 50%;
    max-width: 40rem;
    height: fit-content;
    object-fit: contain;
}
.imgPlace01{
    align-items: end;
}
.cl_imgBox_hp{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
    img{
        object-fit: cover;
    }
}
.cl_imgBox02_hp{
    width: 100%;
    display:flex;
    justify-content: center;
    margin: -26rem 0 0 8rem;
    img{
        object-fit: cover;
    }
}
/*--------- Content Place -----------
###################################*/
.cl_content_img_hp{
    width: 50%;
    display: block;
    margin: 6rem 0 0 4rem;
}

/*--------- Media Queries -----------
###################################*/
@media screen and (max-width:800px) {
    .cl_contentGridbox_hp{
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
        "images01"
        "contentWach"
        "images02"
        ;
    }
/*--------- Images Place -----------
###################################*/
.cl_img01_hp{
    width:100%;
    max-width: 40rem;
    height: fit-content;
    object-fit: contain;
}
.imgPlace01{
    align-items: center;
}
.cl_imgBox_hp{
    display: flex;
    justify-content:center;
    margin: 0 0 0 0;
}
.cl_imgBox02_hp{
    display:flex;
    justify-content: center;
    margin:0;
}
/*--------- Content Place -----------
###################################*/
.cl_content_img_hp{
    display: block;
    margin: 3rem auto;
    text-align: center;
}
.cl_underline-left_hp{
    margin: 0 auto 1.2rem auto;
}
}