@use 'fonts' as fts;
@use 'color' as clr;
.cl_wrapperDienstleistung{
    width: 100%;

}
.flexboxDreier{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 12rem auto;
}
.flex{
    min-width: 32rem;
    width: 33.33%;
    max-width: 38rem;
    box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.3);
    .cl_imageLeistung{
        margin: 0;
        width: 100%;
        aspect-ratio: 1/0.5;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.cl_privat .cl_contentLeistung, .cl_business .cl_contentLeistung, .cl_service .cl_contentLeistung{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2rem 0 0 0;
    overflow: hidden;
    padding: 1.2rem;
    h3{
        display: inline-block;
        margin: 0 0 1rem 0;
    }
    h5{
        display: inline-block;
        margin: 0 0 3rem 0;
    }
}
/*----Media Query Max 840px----
        ##############################--*/

        @media screen and (max-width:840px) {
            .flexboxDreier{
            width: 96%;
            }
        }