@use 'fonts' as fts;
@use 'color' as clr;

.cl_serviceWrapper_hp{
    width: 100%;
    padding: 0;
    overflow: hidden;
    .cl_boxingArea{
        margin-top: 0;
    }
}
.cl_polyDreieckService_hp{
    display: block;
    margin-bottom: -0.3rem;
    .cl_dreieckColor_hp{
        fill: clr.$clr_backgrundlightColor;
        display: block;
    }
}
.cl_serviceBox{
    width: 100%;
    height: fit-content;
    padding: 8rem 2rem 0 2rem;
    background-color: clr.$clr_backgrundlightColor;
    color: clr.$clr_textColorlight;
    margin: -0.3rem 0 0 0;
}
.cl_servicebild_hp{
    
    display: block;
    margin: 5rem 0 5rem 0;
    width: 100%;
}