@use 'fonts' as fts;
@use 'color' as clr;
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: clr.$clr_backgroundSecondColor;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
input {
    appearance: auto;
    color: canvastext;
    background-color: canvas;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 0;
    border-image-outset: 0;
    border-image-repeat: stretch;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    user-select: text;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
    outline-color: green;

}
:focus-visible {
    outline-style: auto;
    outline-width: 0;
    outline-color: red;
}
.cl_boxingArea{
    position: relative;
    width: min(1260px, 70%);
    margin: 5rem auto 8rem auto;
        // margin: 0rem auto 0rem auto;
    padding: 0;

}

.cl_fullwide {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.cl_wrapperMargin{
    margin: 7rem auto 10rem auto;
}
.cl_informationsText{
    width: 100%;
}
/*##############Ende#################*/
/*-------------- Deko Dreieck ------
######################################*/
.cl_polyDreieck {
    position: relative;
    z-index: 20;
    width: 100%;
    height: fit-content;
    margin: 70rem 0 0 0;
    overflow: hidden;
}

.cl_polyDreieckDown {
    width: 100%;
    height: fit-content;
    margin: 0 0 -6rem 0;
    overflow: hidden;

    .cl_Dreieck {
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width:1690px) {
    .cl_boxingArea {
        position: relative;
        width: 100%;
    }
}