@use 'fonts' as fts;
@use 'color' as clr;

/*----------- Welcome Bereich ---------
#######################################*/
.cl_welcome-wrapper_hp{
    display: flex;
    justify-content: center;
}
.cl_welcome-content_hp{
    width: fit-content;
    text-align: center;
    h4{
        width: 60rem;
    }
}
/*----------- Media Queries ---------
#######################################*/
@media screen and (max-width:800px) {
    .cl_welcome-content_hp{
        h2{
            font-size:fts.$fts_font_sizeh2_800;
            padding: 0 1rem;
        }
        h4{
            font-size:fts.$fts_font_sizeh4_800;
            width:fit-content;
            padding: 0 1rem;
        }
    }
}