@use 'fonts' as fts;
@use 'color' as clr;
//###### Überwachungstürme
.cl_flexboxUwk{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cl_uwkInfo-01{
    width: 49.1%;
    padding: 1rem;
    hr{
        display: block;
        margin: 0 0 4rem 0;
    }

    p{
        padding: 0 0 3rem 0;
    }
}
.cl_uwkImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.1%;
}
//----####Techno Data####------####
.cl_technuwkWrapper{
    width: 100%;

}
.cl_flexboxUwk-02{
    background-color: clr.$clr_backgrundlightColor;
}
.cl_technoBox{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-self: center;
    gap: 5rem;
    padding: 8rem 1rem;
}
.cl_technoImg, .cl_technoData{
    width: 48%;
}
.cl_technoData{
    hr{
        display: block;
        margin: 0 0 4rem 0;
    }
}
.cl_data{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    p{
        width: 48%;
        padding: 0 0 3rem 0;
    }
}
//####---Funktion von Überwachungskamera########
.cl_funktionUwkWrapper{
    width: 100%;

}
.cl_funktionUwk{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    .cl_funktionUwkImg, .cl_funktionUwkContent{
        width: 49.1%;
        height: max-content;
    }

}
.cl_funktionUwkImg{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.cl_funktionUwkContent{
    hr{
        display: block;
        margin: 0 0 4rem 0;
    }

    p{
        padding: 0 0 3rem 0;
    }
}
#mietanfrage{
    hr{
        display: block;
        margin: 0 0 4rem 0;
    }
}