.Blog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    background: #000027;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.container1 {
    position: relative;
    width: 290px;
    overflow: hidden;
}
.container1 .card {
    position: relative;
    width: 100%;
    height: 450px;
    background: #000027;
    border: solid rgb(121,205,205);
    border-radius: 20px;
    overflow: hidden;
}