@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-SemiBold.woff2") format("woff2"), url("../fonts/Comfortaa-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Comfortaa", "sans-serif";
  font-size: 10px;
  font-weight: 300;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

h1 {
  font-family: "Comfortaa", "sans-serif";
  font-size: clamp(2.2rem, -2rem + 9.375vw, 5.5rem);
  font-weight: 300;
  line-height: 5.9rem;
}

h2 {
  font-family: "Comfortaa", "sans-serif";
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4rem;
}

h3 {
  font-family: "Comfortaa", "sans-serif";
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 3.2rem;
}

h4 {
  font-family: "Comfortaa", "sans-serif";
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
}

h5 {
  font-family: "Comfortaa", "sans-serif";
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
}

h6, p, li, a, span, button, input, label {
  font-family: "Comfortaa", "sans-serif";
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2.6rem;
}

p {
  word-spacing: 0.1rem;
  letter-spacing: 0;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.cl_subline {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.4rem;
  display: inline-block;
  margin: 1rem 0 0 0;
}

.cl_h5Abstand {
  display: inline-block;
  margin: 2rem 0 1rem 0;
  font-weight: 300;
}

.cl_extrazeilenAbstand {
  line-height: 2.8rem;
}

a {
  cursor: pointer;
}

.cl_flexboxUwk {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cl_uwkInfo-01 {
  width: 49.1%;
  padding: 1rem;
}
.cl_uwkInfo-01 hr {
  display: block;
  margin: 0 0 4rem 0;
}
.cl_uwkInfo-01 p {
  padding: 0 0 3rem 0;
}

.cl_uwkImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.1%;
}

.cl_technuwkWrapper {
  width: 100%;
}

.cl_flexboxUwk-02 {
  background-color: rgba(216, 234, 255, 0.3098039216);
}

.cl_technoBox {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-self: center;
  gap: 5rem;
  padding: 8rem 1rem;
}

.cl_technoImg, .cl_technoData {
  width: 48%;
}

.cl_technoData hr {
  display: block;
  margin: 0 0 4rem 0;
}

.cl_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.cl_data p {
  width: 48%;
  padding: 0 0 3rem 0;
}

.cl_funktionUwkWrapper {
  width: 100%;
}

.cl_funktionUwk {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.cl_funktionUwk .cl_funktionUwkImg, .cl_funktionUwk .cl_funktionUwkContent {
  width: 49.1%;
  height: max-content;
}

.cl_funktionUwkImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cl_funktionUwkContent hr {
  display: block;
  margin: 0 0 4rem 0;
}
.cl_funktionUwkContent p {
  padding: 0 0 3rem 0;
}

#mietanfrage hr {
  display: block;
  margin: 0 0 4rem 0;
}

/*# sourceMappingURL=ueberwachungstuerme.css.map */
